*.pem
*.key
*.crt
*.der
*.pfx
*.p12


*.local
*.ivy2
*.ssh
*.dotnet
*.cache


.aws/

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/


.metastore_db/
*.crc
*.eventlog
.derby.log
*.ivy2/
*.sparkStaging/

/logs/

.vscode/
.vscode-server/
.idea/

.DS_Store
Thumbs.db

logs/
logs/*.log